.wrapper {
	width: 1010px;
	margin: auto;
}

header {
	padding: 20px 0;
}

nav {
	background: #4c4c4c;
}


nav a {
	text-decoration: none;
}

nav a:hover {
    border-left: 2px solid #838383;
    border-right: 2px solid #838383;
    background: #2f2f2f;
    color: white;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px , sans-serif;
	padding: 10px;
}

.top-menu li {
	display: inline-block;
    margin: 0;
}   

.top-menu a {
	color: #ffffff;
}

.top-menu a {
    color: #ffffff;
    padding: 10px 60px;
    border left: 2px solid transparent;
    border right: 2px solid transparent;
}

img {
	padding: 40px 40px;
}

.container{
    float: left;
    list-style-type: disc;
}

.menu-left{
	 list-style: none;
}

.menu-left {
    width: 240px;
    border: 1px solid #000;
    padding: 0;
}

.menu-left li {
    height: 40px;
    border-bottom: 1px solid #000;
}

.menu-left: last-child {
    border-bottom: 0;
}

.menu-left a {
    display: block;
    padding-left: 24px;
    color: #656363;
    line-height: 40px;
    text-decoration: none;
}

.menu-left a: hover {
    padding-left: 36px;
}

.main {
    margin-left: 288px;
}


.baner img {
    display: block;
}

.content {
    padding: 0 25px;
    margin-bottom: 60px;
}

.content p {
    color: #2c2c2c;
    line-height: 22px;
}

.footer {
    background-color: #e1e1e1;
    display: block;
}

.width {
    width: 70%;
}

.menu-bottom li {
    display: inline-block;
    height: 40px;
    margin: 0 47px;
    line-height: 40px;
}

.menu-bottom li:first-child {
    margin-left: 20px;
}

.menu-bottom a {
    color: #2c2c2c;
    text-decoration: none
}

.menu-bottom a:hover{
    border-bottom: 1px solid #2c2c2c;
}

.footer p {
    float: right;
    margin: 0 20px 0 0;
    line-height: 40px;
}